<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>© {{ 'now' | date: "%Y" }} {{ site.title | escape }}</p>
        <div class="social-links">
          <a href="https://github.com/jimilp7" target="_blank" title="GitHub">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:jimilp7@gmail.com" title="Email">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer> 